{
  "extends": [
   "airbnb/base",
    "prettier"
  ],
  "rules": {
    "no-underscore-dangle": [0],
    "no-unused-expressions": [2, { "allowShortCircuit": true }],
    "no-param-reassign": 0,
    "no-console": 0,
    "import/no-extraneous-dependencies": 0,
    "no-useless-escape": 0
  },
  "globals": {
    "fetch": true
  }
}
